/* Nav Styles*/

.navSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
	position: fixed;
	top: 0;
    right: 0;
    left: 0;
    background-color: #212529;
}



.navLogo {
	height: 2rem;
}

ul.ulNav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.ulNav li {
	display: inline;
}

.navLink {
	padding: 8px;
	font-size: .95rem;
	letter-spacing: .0625em;
}

.navLink a:link {
    color: #fff;
}

.navLink a:visited, a:hover {
    color: #fff;
}

.navLink a:hover {
    color: #ffc800;
}



