#portfolio {
  background-color: #f8f9fa;
}

/* Mobile Grid Styles */
.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.5rem;
  justify-content: center;
  align-content: center;
}
/* Tablet Grid Styles  */
@media (min-width: 770px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
/* Desktop  Grid Styles  */
@media (min-width: 1400px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.portfolioCardSpace {
  padding: 0 12px;
}

.portfolioImg {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.portfolioText {
  text-align: center;
  background-color: #fff;
  padding: 1.5rem;
  width: 100%;
}
.portfolioTitle {
  font-size: 1.5rem;
  font-weight: 700;
}
.portfolioSubtitle {
  font-family: "Roboto Slab";
  font-style: italic;
  color: #6c757d;
}
